.movie_info_container{
    margin: 3rem 5rem;
}

.movie_info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    gap: 1rem;
}

.movie_card_providers_container{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
}

.movie_card_container{
    margin-top: 2rem;
    max-width: 60%;
    background: linear-gradient(45deg, transparent, #5bc4e873, transparent);
    padding: 1rem;
    border-radius: 2rem;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    position: relative;
}

.synopsis_container{
    margin-top: auto;
    margin-bottom: auto;

    background-color: #5cb8df60;
    padding: 1rem;
    border-radius: 2rem;
    height: auto;
}

.synopsis_container p{
    /* Adjusting the size of the text depending on the width of the page */
    font-size: 1.3rem;
    line-height: 1.5;
    color: #0d0110b5;
}

.cursor_icon{
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translate(-60%, -60%);
    color: #0a0034;
}

/* When there are no search results */
.null_movie{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    color: #7b0000;
}



/*  Media Queries (Medium Devices) */
@media screen and (max-width: 1024px){

    .movie_info_container{
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .movie_info{
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .movie_card_container{
        max-width: 50%;
    }

    .synopsis_container p{
        font-size: 1.2rem
    }
}

/*  Media Queries (Small Devices)  */
@media screen and (max-width: 600px){

    .movie_info_container{
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .movie_card_container{
        max-width: 65%;
    }

    .synopsis_container p{
        font-size: 0.8rem
    }
}

/*  Media Queries (Very Small Devices)  */
@media screen and (max-width: 390px){

    .movie_info_container{
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }

    .movie_card_container{
        max-width: 75%;
        padding: 0.8rem;
        border-radius: 1rem;
    }

    .synopsis_container p{
        font-size: 0.8rem
    }
}