/* Styles for the movie search form */
.fields{
    display: flex;
    flex-direction: row;
    gap: 1.3rem;
    align-items: center;
}

.input_container{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

/* Submit button */
.fields button{
    color: var(--color-light);
    background: #6c37e6;
}
.fields button:hover{
    background: transparent;
    border-color: var(--color-primary-secondary);
    color: var(--color-light);
}