/* Styles for the Similar Movie swiper list */
.similar_movie_swiper_container{
    padding-bottom: 5rem;
}

.similar_movie_swiper_container{
    width: 80%;
}

.similar_movies_swiper{

    border-radius: 1.5rem;
    background: linear-gradient(75deg, transparent, #5bc4e873, transparent);
}

/* Styling the wrapper holding the similar movies */
.swiper-wrapper{
    padding: 0.8rem 0 1.3rem 0.5rem;
}


/* Style for the title */
.similar_movie_swiper_container h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.3rem;
    align-content: center;
}

/* Style for each movie poster card in the swiper */
.similar_movie{
    background: var(--color-bg-secondary);
    padding: 0.5rem;
    border-radius: 2rem;
    user-select: none;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    transition: var(--transition);
}
/* Hover effect */
.similar_movie:hover {
    transform: translateY(-5px); /* Lift the card slightly on hover */
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15); /* Enhance the shadow on hover */
}

/* target the active bullet */
span.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: var(--color-light);
}


/* The swiper container */
.swiper.swiper-initialized.swiper-horizontal.similar_movies_container{
    padding: 0.5rem;
}

/* Navigation buttons */
.similar_movie_swiper_container .swiper-button-next,
.similar_movie_swiper_container .swiper-button-prev {
    color: var(--color-bg-secondary);

}
/* When at the beginning or end of the list */
.swiper-button-prev.swiper-button-disabled{
    display: none;
}
.swiper-button-next.swiper-button-disabled{
    display: none;
}

/*  Media Queries (Medium Devices)  */
@media screen and (max-width: 1024px){
    .similar_movie_swiper_container{
        margin: 0 auto; /* Center the container */
        text-align: center;
    }
}

/*  Media Queries (Small Devices)  */
@media screen and (max-width: 600px){
    .similar_movie_swiper_container{
        width: 70%;
    }

    /* Style for the title */
    .similar_movie_swiper_container h3 {
        font-size: 1rem;
    }

}
  

  

 
