/* Styles for the similar movies template */
.similar_movies_container{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}


/*  Media Queries (Medium Devices)  */
@media screen and (max-width: 1024px){
    .similar_movies_container{
        justify-content: center;
        align-items: center;
    }
}