/* Styles for the similar movies template */
.similar_movies_container{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.null_similar{
    color: #7b0000;
}


/*  Media Queries (Medium Devices)  */
@media screen and (max-width: 1024px){
    .similar_movies_container{
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
    }

    .null_similar{
        font-size: 1rem;
    }
}