/* Styles for the movie title input */
.input_title_search{
    padding: 0.3rem;
    border-radius: 0.5rem;
    background: var(--color-bg);
    border: 2px solid var(--color-primary-secondary);
    resize: none;
    color: var(--color-light);
    font-family: 'Courier Prime', monospace;
    height: auto;
}
.input_title_search:focus::placeholder{
    color: transparent;
}
/* For the placeholder in the input text */
::placeholder{
    color: var(--color-primary);
}

/*  Media Queries (Medium Devices) */
@media screen and (max-width: 1024px){
    .input_title_search{
        padding: 0.1rem;
        font-size: 0.8rem;
    }
}

/*  Media Queries (Small Devices)  */
@media screen and (max-width: 600px){
    .input_title_search{
        width: 100%;
    }
}

/*  Media Queries (Very Small Devices)  */
@media screen and (max-width: 390px){
    .input_title_search{
        width: 100%;
    }
}